@mixin icon-top-diff() {
    &:nth-child(odd) {
        margin-top: -3px;
        @media (min-width: 481px) and (max-width: 767px) {
            margin-top: -2px;
        }
    }
    
    &:nth-child(even) {
        margin-top: 3px;
        @media (min-width: 481px) and (max-width: 767px) {
            margin-top: 2px;
        }
    }
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin: 0 30px;
    @media (min-width: 768px) and (max-width: 991px) {
        justify-self: end;
    }
    @media (min-width: 601px) and (max-width: 767px) {
        margin: 0 5px;
    }
    @media (max-width: 600px) {
        display: none;
    }
}

.contacts__button {
    --contacts-button-scale: 0;
    width: calc(179px - 20px * var(--contacts-button-scale));
    height: calc(65px - 5px * var(--contacts-button-scale));
    margin-left: 20px;
    border-radius: 11px;
    font-size: calc(1em - 3px);
    background: #D9D9D9;
    transition: background 1.2s ease;
    &:hover {
        cursor: pointer;
        background: #b8b8b8;
    }
    @media (min-width: 1200px) and (max-width: 1919px) {
        --contacts-button-scale: 1;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        --contacts-button-scale: 2;
    }
    @media (max-width: 991px) {
        display: none;
    }
}

.contacts__link {
    @include icon-top-diff();
}