@use '@components/SectionTemplate/style' as temp;

.sectionSkills {
    width: 100%;
    display: flex;
    justify-content: center;
    @include temp.section__marginTop();
}

.sectionSkills__container {
    width: 90%;
    height: fit-content;
    border-radius: 3rem;
    background-color: black;
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
    grid-row-gap: 3rem;
    padding: 3.5rem 0;
    @media screen and (max-width: 600px) {
        grid-row-gap: 2rem;
        padding: 2.5rem 0;
    }
}

.sectionSkills__title {
    @include temp.section__title();
    margin: 0;
    color: white;
}