.contactsFooter {
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin: 54px 30px 0 30px;
    @media (min-width: 992px) and (max-width: 1199px) { 
        margin-top: 44px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        justify-self: end;
    }
}

.contactsFooter__link:nth-child(odd) {
    margin-top: -3px;
    @media (max-width: 767px) {
        margin-top: -2px;
    }
}

.contactsFooter__link:nth-child(even) {
    margin-top: 3px;
    @media (max-width: 767px) {
        margin-top: 2px;
    }
}