@use '@components/section-template/section-template.scss' as temp;

.sectionSkills {
    width: 100%;
    display: flex;
    justify-content: center;
    @include temp.section__marginTop();
}

.sectionSkills__block {
    width: 90%;
    height: fit-content;
    border-radius: 63px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionSkills__title {
    @include temp.section__title();
    margin-top: 45px;
    color: white;
    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 25px;
    }
    @media (min-width: 601px) and (max-width: 767px) {
        margin-top: 15px;
    }
    @media (max-width: 600px) {
        margin-top: 10px;
    }
}