.icon {
    width: 60px;
    height: 60px;
    clip-path: circle(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 6px;
    transition: transform 0.8s ease-out;
    transform: scale(1);
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        width: 55px;
        height: 55px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 50px;
        height: 50px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        width: 42px;
        height: 42px;
        margin-right: 5px;
    }
}

.icon:nth-child(odd) {
    margin-top: -3px;
    @media (min-width: 481px) and (max-width: 767px) {
        margin-top: 2px;
    }
}

.icon:nth-child(even) {
    margin-top: 3px;
    @media (min-width: 481px) and (max-width: 767px) {
        margin-top: 2px;
    }
}

.icon.icon_github {
    margin: 20px  0 0 calc(8vw - 78px);
    width: 100px;
    height: 100px;
    @media (min-width: 992px) and (max-width: 1199px) {
        margin: 20px  0 0 calc(8vw - 60px);
        width: 90px;
        height: 90px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        margin: 20px  0 0 20px;
        width: 80px;
        height: 80px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        margin: 15px 0 0 15px;
        width: 70px;
        height: 70px;
    }
    @media (max-width: 480px) {
        margin: 20px 0 0 20px;
        width: 80px;
        height: 80px;
    }
}