.icon {
    --icon-size: 60px;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: 6px;
    clip-path: circle(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.8s ease-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        --icon-size: 55px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        --icon-size: 50px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        --icon-size: 42px;
    }
    @media (max-width: 480px) {
        --icon-size: 30px;
        margin-right: 5px;
    }
}

.icon.icon_github {
    --icon-github-size: 100px;
    margin: 20px  0 0 calc(8vw - 78px);
    width: var(--icon-github-size);
    height: var(--icon-github-size);
    @media (min-width: 992px) and (max-width: 1199px) {
        margin: 20px  0 0 calc(8vw - 60px);
        --icon-github-size: 90px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        margin: 20px  0 0 20px;
        --icon-github-size: 80px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        margin: 15px 0 0 15px;
        --icon-github-size: 70px;
    }
    @media (max-width: 480px) {
        margin: 20px 0 0 20px;
        --icon-github-size: 80px;
    }
}