.skillList {
    --skill-image-scale: 2.5rem;
    --skill-image-diff: 1.4em;
    --skill-height: calc(var(--skill-image-scale) + var(--skill-image-diff));
    width: 80%;
    max-width: 850px;
    display: grid;
    grid-template-rows: repeat(2, var(--skill-height));
    grid-template-columns: repeat(9, 1fr);
    @media (min-width: 601px) and (max-width: 767px) {
        width: 90%;
    }
    @media (max-width: 600px) {
        grid-template-rows: repeat(3, var(--skill-height));
        grid-template-columns: repeat(3, 1fr);
    }
}

.skill {
    width: 100%;
    outline: 0;
    border: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    @media not (max-width: 600px) {
        $n: 10;
        @for $i from 1 to $n {
            &:nth-child(#{$i}) {
                grid-column: $i;
            }
        }      
        &:nth-child(2n) {
            grid-row: 2;
        }
    }   
    @media (max-width: 600px) {
        &:nth-child(even) {
            order: 1;
        }  
        &:nth-child(odd) {
            order: -1;
        }
    }
}

.skill__image {
    width: var(--skill-image-scale);
    height: var(--skill-image-scale);
    margin-top: var(--skill-image-diff);
    margin-bottom: var(--skill-image-diff);
    transition: margin-top 0.8s ease-out, margin-bottom 0.8s ease-out;
    .skill:hover & {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.skill__text {
    position: absolute;
    bottom: 0;
    font-size: 1em;
    color: white;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    .skill:hover & {
        opacity: 1;
    }
}
