@use './mixins.scss' as mix;

.contactForm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactForm__form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactForm__image {
    width: 550px;
    margin-top: 148px;
    margin-right: -85px;
    @media (min-width: 992px) and (max-width: 1199px) { 
        width: 450px;
        margin-top: 127px;
        margin-right: -73px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 330px;
        margin-top: 122px;
        margin-right: -58px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        width: 270px;
        margin-top: 105px;
        margin-right: -45px;
    }
    @media (max-width: 480px) {
        width: 200px;
        margin-top: 65px;
        margin-right: -37px;
    }
}

.contactForm__inputBlock {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 2;
    overflow: hidden;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 28px;
    box-shadow: inset 0 0 13px -6px rgba(0, 0, 0, 0.0);
    transition: box-shadow 1.3s ease-out;
    &:hover {
        box-shadow: inset 0 0 18px -6px rgba(0, 0, 0, 1);
    }
    @media (max-width: 767px) {
        border-radius: 16px;
        border: 2px solid rgba(0, 0, 0, 0);
    }
}

.contactForm__input {
    @media (max-width: 480px) {
        border-radius: 16px;
    }
    @include mix.inputText();
}

.contactForm__name {
    $gradient: linear-gradient(93.67deg, #C0BB36 46.98%, rgba(46, 137, 13, 0.89) 100.5%);
    @include mix.formInput();
    @include mix.gradiendBorder($gradient);
    @media (min-width: 481px) and (max-width: 767px) {
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect2.svg");   
    }
    @media (max-width: 480px) {
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect2.svg"); 
    }
}

.contactForm__email {
    $gradient: linear-gradient(93.67deg, #C0BB36 46.98%, rgba(97, 0, 255, 0.89) 100.5%);
    margin-top: 22px;
    @include mix.formInput();
    @include mix.gradiendBorder($gradient);
    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 17px;
    }
    @media (min-width: 481px) and (max-width: 767px) {   
        margin-top: 15px;
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect2.svg");  
    }
    @media (max-width: 480px) {
        margin-top: 10px;
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect2.svg");  
    }
}

.contactForm__message {
    $gradient: linear-gradient(93.67deg, #C0369A 46.98%, rgba(14, 41, 136, 0.890802) 100.49%, rgba(46, 137, 13, 0.89) 100.5%);
    margin-top: 22px;
    @include mix.formInput(4);
    @include mix.gradiendBorder($gradient);
    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 17px;
    }
    @media (min-width: 481px) and (max-width: 767px) { 
        margin-top: 15px;
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect2.svg");  
    }
    @media (max-width: 480px) {
        margin-top: 10px;
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect2.svg"); 
    }
}

.contactForm__button_submit {
    width: 145px;
    height: 64px;
    $gradient: linear-gradient(93.67deg, #C036AA 46.98%, rgba(137, 95, 13, 0.89) 100.5%);
    margin-top: 48px;
    padding: 0;
    @include mix.gradiendBorder($gradient, "@assets/rounded-rect10.svg");
    &:hover {
        cursor: pointer;
    }
    @media (min-width: 992px) and (max-width: 1199px) { 
        width: 125px;
        height: 54px;
        margin-top: 38px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 105px;
        height: 40px;
        margin-top: 28px;
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect5.svg");  
    }
    @media (min-width: 481px) and (max-width: 767px) {
        width: 75px;
        height: 34px;   
        margin-top: 23px;
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect5.svg");  
    }
    @media (max-width: 480px) {
        width: 50px;
        height: 24px;
        margin-top: 16px;
        @include mix.gradiendBorder($gradient, "@assets/rounded-rect2.svg"); 
    }
}

.contactForm__label {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    border: 10px solid rgba(0, 0, 0, 0);
    border-radius: 28px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 18px -6px rgba(0, 0, 0, 0);
    transition: box-shadow 1.2s ease-out;
    @media (min-width: 481px) and (max-width: 991px) {
        border-radius: 16px;
        border: 5px solid rgba(0, 0, 0, 0);
    }
    @media (max-width: 480px) {
        border-radius: 16px;
        border: 2px solid rgba(0, 0, 0, 0);
    }
    .contactForm__button_submit:hover & {
        cursor: pointer;
        box-shadow: inset 0 0 18px -6px rgba(0, 0, 0, 1);
    }
    @include mix.text();
}

.contactForm__validationError {
    position: absolute;
    top: 100%;
    color: red;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    @media (min-width: 992px) and (max-width: 1199px) { 
        font-size: 14px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 13px
    }
    @media (min-width: 601px) and (max-width: 767px) {
        font-size: 11px;   
    }
    @media (min-width: 481px) and (max-width: 600px) {
        font-size: 10px;   
    }
    @media (max-width: 480px) {
        font-size: 8px;
    }
}