.contactForm {
    display: flex;
    align-items: flex-end;
}

.contactForm__form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactForm__image {
    width: 39.7vw;
    height: 100%;
}

.contactForm__input {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 22px;
    padding-left: 48px;
    border-radius: 28px;
    width: 28.1vw;
    height: 74px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.contactForm__input_name {

}

.contactForm__input_email {
  
}

.contactForm__input_fieldset {
    height: 267px;
}

.contactForm__button_submit {
    margin-top: 48px;
}

.contactForm__button_submit2 {
    position: relative;
    width: 209px;
    height: 74px;
    border: 0;
    background: rgba(0, 0, 0, 0);
}

.contactForm__button_submit2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100px;
    right: 0;
    z-index: 1;
    -webkit-mask-image: url("@assets/rounded-rect.svg");
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    background-image: linear-gradient(
      90deg,
      hsl(289, 65%, 64%),
      hsl(226, 78%, 67%)
    );
}

.contactForm__button_submit2__label {
    position: relative;
    z-index: 100;
    background-image: linear-gradient(
    90deg,
    hsl(289, 65%, 64%),
    hsl(226, 78%, 67%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}