.contactForm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactForm__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -105px;
}

.contactForm__image {
    margin-top: 148px;
    width: 600px;
    height: auto;
}

@mixin gradiendBorder($gradient, $svg-url: "@assets/rounded-rect3.svg") {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: rgba(0, 0, 0, 0);
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        mask: url($svg-url) center center / cover no-repeat;
        -webkit-mask: url($svg-url) center center / cover no-repeat;
        background-image: $gradient;
    }
}

@mixin text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

@mixin inputText {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    height: 90%;
    padding-left: 12px;
    border: 0;
    @include text();
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.contactForm__name {
    width: 28.1vw;
    height: 64px;
    @include gradiendBorder(linear-gradient(93.67deg, #C0BB36 46.98%, rgba(46, 137, 13, 0.89) 100.5%));
}

.contactForm__email {
    width: 28.1vw;
    height: 64px;
    margin-top: 22px;
    @include gradiendBorder(linear-gradient(93.67deg, #C0BB36 46.98%, rgba(97, 0, 255, 0.89) 100.5%));
}

.contactForm__message {
    width: 28.1vw;
    height: 240px;
    margin-top: 22px;
    @include gradiendBorder(linear-gradient(93.67deg, #C0369A 46.98%, rgba(14, 41, 136, 0.890802) 100.49%, rgba(46, 137, 13, 0.89) 100.5%));
}

.contactForm__input {
    @include inputText();
}

.contactForm__button_submit {
    width: 209px;
    height: 64px;
    margin-top: 48px;
    @include gradiendBorder(linear-gradient(93.67deg, #C036AA 46.98%, rgba(137, 95, 13, 0.89) 100.5%), "@assets/rounded-rect10.svg");
    &:hover {
        cursor: pointer;
    }
}

.contactForm__label {
    color: black;
    @include text();
}