@mixin section__title() {
    font-weight: 600;
    font-size: 1.9em;
    line-height: 35px;
}

@mixin section__marginTop() {
    margin-top: 180px;
    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 120px;
    }
    @media (min-width: 601px) and (max-width: 767px) {
        margin-top: 80px;
    }
    @media (min-width: 481px) and (max-width: 600px) {
        margin-top: 65px;
    }
    @media (max-width: 480px) {
        margin-top: 50px;
    }
}