@mixin section__title() {
    font-weight: 600;
    font-size: 1.9em;
    line-height: 35px;
}

@mixin section__marginTop() {
    margin-top: 8rem;
    @media screen and (max-width: 991px) {
        margin-top: 3.5rem;
    }
}