.sectionWelcome {
    width: 100%;
    margin-top: 4rem;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    @media (max-width: 600px) {
        grid-template: min-content 1fr / 1fr;
    }
}

.sectionWelcome__pictureContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
        justify-content: end;
    }
}

.sectionWelcome__picture {
    width: auto;
    height: 14rem;
    @media (max-width: 600px) {
        transform: translateY(-1rem);
    }
}

.sectionWelcome__text {
    position: relative;
    z-index: 1;
    margin: 0.5rem 0 0 5.5vw;
    align-self: start;
    color: #000000;
}

.sectionWelcome__welcomeString {
    font-size: 1em;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
}

.sectinWelcome__description {
    margin: 0;
    font-size: 1.45em;
    font-weight: 600;
    line-height: 40px;
    @media screen and (max-width: 767px) {
        font-size: 1.35em;
    }
}