.nav {
    display: flex;
    flex-direction: row;
    justify-self: end;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 18px;   
    }
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 16px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 14px;
    }
    @media (max-width: 480px) {
        font-size: 16px;
    }
}

.nav__link {
    position: relative;
    margin: 0 10px 0 calc(34px + 4vw);
    @media (min-width: 992px) and (max-width: 1199px) {
        margin: 0 10px 0 calc(26px + 3.5vw);
    }
    @media (min-width: 768px) and (max-width: 991px) {
        margin: 0 10px 0 calc(28px + 2vw);
    }
    @media (min-width: 481px) and (max-width: 767px) {
        margin: 0 7px 0 calc(20px + 1.5vw);
    }
    @media (max-width: 480px) {
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    &:hover {
        cursor: pointer;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom left;
        transition: transform 0.8s ease-out;
    }
    &:hover::after {
        cursor: pointer;
        transform: scaleX(1);
    }
}

.nav__menu {
    position: relative;
    margin: 0 40px 0 10px;
}

.nav__menu_checkbox {
    opacity: 0;
    position: absolute;
}

.nav__manu_elems {
    position: absolute;
    left: -10px;
    top: 100%;
    z-index: 2;
    max-height: 0;
    height: fit-content;
    overflow: hidden;
    transition: max-height 1.2s ease;
}

.nav__menu_title {
    transition: color 1.2s ease;
}

.nav__menu_checkbox:checked + .nav__menu_title {
    color: blue;
}

.nav__menu_checkbox:checked ~ .nav__manu_elems {
    max-height: 75px;
}