.contacts {
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin: 0 30px 0 30px;
    @media (min-width: 768px) and (max-width: 991px) {
        justify-self: end;
    }
    @media (max-width: 600px) {
        display: none;
    }
}

.contacts__button {
    margin-left: 20px;
    width: 159px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 11px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    transition: background 1.2s ease;
    &:hover {
        cursor: pointer;
        background: #b8b8b8;;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 16px;
        width: 139px;
        height: 55px;
    }
    @media (max-width: 991px) {
        display: none;
    }
}