@use '@components/section-template/section-template.scss' as temp;

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include temp.section__marginTop();
    --footer-block-scale: 0;
    @media (min-width: 992px) and (max-width: 1199px) { 
        --footer-block-scale: 1;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        --footer-block-scale: 2;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        --footer-block-scale: 3;
    }
    @media (max-width: 480px) {
        --footer-block-scale: 4;
    }
}

.footer__blocks {
    width: 100%;
    height: calc(120px - (20px * var(--footer-block-scale)));
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.footer__block {
    width: 617px;
    height: 474px;
    background: linear-gradient(180deg, #E4CA3F 0%, rgba(29, 151, 129, 0) 100%);
    border-radius: 125px;
}

.footer__block1 {
    margin-left: calc(-186px - (60px * var(--footer-block-scale)));

}

.footer__block2 {
    margin-right: calc(-406px - (30px * var(--footer-block-scale)));
}