.arrow {
    --arrow-scale: 3;
    width: calc(18px * var(--arrow-scale));
    height: calc(17px * var(--arrow-scale));
    margin: 15px 0;
    background: linear-gradient(270deg, black 0%, black 33%, rgb(128, 128, 128) 33%, rgb(128, 128, 128) 66%, black 66%, black 100%);
    background-size: calc(18px * 3 * var(--arrow-scale))  calc(17px * var(--arrow-scale));
    animation: 2.4s ease-in-out infinite;
    @media (min-width: 992px) and (max-width: 1199px) {
        --arrow-scale: 2.75;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        --arrow-scale: 2.5;
    }
    @media (min-width: 601px) and (max-width: 767px) {
        --arrow-scale: 2.25;
    }
    @media (min-width: 481px) and (max-width: 600px) {
        --arrow-scale: 2;
    }
    @media (max-width: 480px) {
        --arrow-scale: 1.75;
    }
}

.arrow:hover {
    cursor: pointer;
    animation-name: arrow;
}

.arrow__left {
    grid-area: 2 / 1 / span 1 / span 3;
    @media (max-width: 767px) {
        grid-area: 3 / 8 / span 1 / span 3;
    }
    mask-image: url("@assets/arrow-left.svg");
    -webkit-mask-image: url("@assets/arrow-left.svg");
}

.arrow__right {
    grid-area: 2 / 18 / span 1 / span 3;
    @media (max-width: 767px) {
        grid-area: 3 / 12 / span 1 / span 3;
    }
    mask-image: url("@assets/arrow-right.svg");
    -webkit-mask-image: url("@assets/arrow-right.svg");
    animation-direction: reverse;
}

@keyframes arrow {
    0% {
        background-position: -150% 0px;
        transform: scale(1);
    }
    50% {
        background-position: -100% 0px;
        transform: scale(1.2);
    }
    100% {
        background-position: -50% 0px;
        transform: scale(1);
    }
}
