.slider {
    width: 80%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 60px;
    padding: 40px 0 40px 0;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
    align-items: center;
    @media (min-width: 768px) and (max-width: 1200px) {
        width: 86%;
    }
    @media (max-width: 767px) {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(4, min-content);
    }
}

.slider__title {
    grid-area: 1 / 1 / span 1 / span 20;
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 40px;
}

.slider__imageBlock {
    width: 100%;
    height: min-content;
    position: relative;
    display: flex;
    overflow: hidden;
    transition: box-shadow 1.2s ease;
    box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0);
    grid-area: 2 / 4 / span 1 / span 14;
    @media (max-width: 767px) {
        grid-area: 2 / 2 / span 1 / span 18;
    }
}

.slider__imageBlock:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
}

.slider__nextimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.slider__image {
    width: 100%;
    height: 100%;
}

.slider__description {
    width: 100%;
    height: 100%;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 1.1s ease;
    grid-area: 3 / 4 / span 1 / span 14;
    @media (max-width: 768px) {
        grid-area: 4 / 2 / span 1 / span 18;
    }
}

.slider__description:hover, .slider__imageBlock:hover ~ .slider__description {
    height: 100%;
    max-height: calc(9 * 1.3 * 20px);
}

.slider__descelem {
    font-size: 1em;
    margin-bottom: 0;
}