.contactsLinks {
    display: flex;
    flex-direction: row;
}

.contactsLinks__link {
    &:nth-child(odd) {
        margin-top: -3px;
        @media (min-width: 481px) and (max-width: 767px) {
            margin-top: -2px;
        }
    }

    &:nth-child(even) {
        margin-top: 3px;
        @media (min-width: 481px) and (max-width: 767px) {
            margin-top: 2px;
        }
    }
}